/* You can add global styles to this file, and also import other style files */

.is-full-height {
    min-height: 100vh;
}

.has-margin-left {
    margin-left: 0.25rem;
}

.has-margin-right {
    margin-right: 0.25rem;
}